[submodule "server"]
	path = server
	url = git@github.com:git-lfs-hub/server.git
	branch = main
[submodule "docs"]
	path = docs
	url = git@github.com:git-lfs-hub/docs.git
	branch = main
[submodule "config"]
	path = config
	url = git@github.com:git-lfs-hub/config.git
	branch = main
[submodule "e2e"]
	path = e2e
	url = git@github.com:git-lfs-hub/e2e.git
	branch = main
[submodule "auth"]
	path = auth
	url = git@github.com:git-lfs-hub/auth.git
