[submodule "server"]
	path = server
	url = git@github.com:git-lfs-hub/server.git
	branch = main
[submodule "docs"]
	path = docs
	url = git@github.com:git-lfs-hub/docs.git
	branch = main
[submodule "config"]
	path = config
	url = git@github.com:git-lfs-hub/config.git
	branch = main
[submodule "staging"]
	path = staging
	url = git@github.com:git-lfs-hub/staging.git
	branch = main
