# Temporary
.plans
*.bak

# dependencies (bun install)
node_modules

# output
out
dist
*.tgz
github-app.md

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
.docmd
.turbo
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# Don't commit these in git-lfs-hub/deploy, good to commit in forks
vars.input.json
vars.json
wrangler.jsonc
worker-configuration.d.ts
